<div class="grid-y">
    <div class="cell shrink header medium-cell-block-container text-center">
        <h3>Stephanie Morrissey</h3>
    </div>
    {{> navigation}}
    <section class="text-center" id="about">
        <h3>About</h3>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 medium-offset-1 large-4 large-offset-1">
                <div>
                    <img src="images/steph-morrissey.jpeg">
                </div>
            </div>
            <div class="cell small-12 medium-4 medium-offset-1 large-4  large-offset-1 align-self-middle">
                <p>
                    <span>Hello, </span>my name is Steph. I'm a graduate from the University of Sheffield in BSc
                    Information
                    Technology and Management for Business and currently enrolled in
                    a Coding Bootcamp with the University of Manchester.
                </p>
                <p>
                    I am looking for a developer role
                    which allows combining excellent communication and
                    teamwork/customer service skills along with Web Development
                    expertise.
                </p>
            </div>
        </div>
    </section>
    <section id="projects">
        {{#if projects}}
        <div class="grid-x">
            <div class="cell">
                <h3 class="text-center">Projects</h3>
            </div>
        </div>
        <div class="grid-x grid-padding-x small-up-2 medium-up-2 large-up-3">
            {{#each projects}}
            {{> project}}
            {{/each}}
        </div>
        {{/if}}
    </section>
    <footer>
        <div class="rounded-social-buttons">
            <a class="social-button linkedin" href="#"></a>
            <a class="social-button github" href="#"></a>
            <a class="social-button youtube" href="#"></a>
            <a class="social-button google-plus" href="#"></a>

        </div>
</div>
</footer>