<div class="grid-y medium-grid-frame text-center">
    <div class="cell shrink header medium-cell-block-container">
        <h3>Stephanie Morrissey</h3>
    </div>
    {{> navigation}}
    <div class="grid-y">
        <section id="about">
            <h3>About</h3>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-4 medium-offset-1 large-4 large-offset-1">
                    <div>
                        <img src="images/steph-morrissey.jpeg">
                    </div>
                </div>
                <div class="cell small-12 medium-4 medium-offset-1 large-4  large-offset-1 align-self-middle">
                    <p>
                        <span>Hello, </span>my name is Steph. I'm a graduate from the University of Sheffield in BSc
                        Information
                        Technology and Management for Business and currently enrolled in
                        a Coding Bootcamp with the University of Manchester.
                    </p>
                    <p>
                        I am looking for a developer role
                        which allows combining excellent communication and
                        teamwork/customer service skills along with Web Development
                        expertise.
                    </p>
                </div>
            </div>
        </section>
        <section id="projects">
            {{#if projects}}
            <h3>Projects</h3>
            {{#each}}
            {{> projects}}
            {{/each}}
            {{/if}}
        </section>
        <section id="contact">
            <h3>Contact</h3>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-4 large-5">
                    <p> Some contact details </p>
                </div>
                <div class="cell small-12 medium-8 large-7">
                    <p>Some more contact details</p>
                </div>
            </div>
        </section>
    </div>
    <div class="grid-x">
        <div class="cell small-auto large-auto">One</div>
        <div class="cell small-auto large-auto">Two</div>
        <div class="cell small-auto large-auto">Three</div>
        <div class="cell small-auto large-auto">Four</div>
        <div class="cell small-auto large-auto">Five</div>
        <div class="cell small-auto large-auto">Six</div>
    </div>

    <div class="cell shrink footer text-center">
        <small class="text-muted">Email: sgmorrissey@gmail.com</small>
    </div>
</div>