<div class="grid-x grid-margin-x text-center">
    <div class=" cell small-12 medium-4 large-4">
        <a href="#about">
            About
        </a>
    </div>
    <div class="cell small-12 medium-4 large-4">
        <a href="#projects">
            Projects
        </a>
    </div>
    <div class="cell small-12 medium-4 large-4">
        <a href="#contact">
            Contact
        </a>

    </div>
</div>