<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4 large-5">
        <div>
            <img src="images/{{imageName}}">
        </div>
    </div>
    <div class="cell small-12 medium-8 large-7">
        <h3 class="text-center">{{projectName}}</h3>
        <p>{{projectDesc}}</p>
    </div>
</div>